$icomoon-font-family: "allomancy-steel-alphabet" !default;
$icomoon-font-path: "fonts" !default;

$asa-256: "\e900";
$asa-20: "\e901";
$asa-22: "\e902";
$asa-21: "\e903";
$asa-0: "\e904";
$asa-lerasium: "\e905";
$asa-atium: "\e906";
$asa-malatium: "\e907";
$asa-bendalloy: "\e908";
$asa-cadmium: "\e909";
$asa-electrum: "\e90a";
$asa-gold: "\e90b";
$asa-nicrosil: "\e90c";
$asa-chromium: "\e90d";
$asa-aluminum: "\e90e";
$asa-duralumin: "\e90f";
$asa-bronze: "\e910";
$asa-brass: "\e911";
$asa-copper: "\e912";
$asa-zinc: "\e913";
$asa-iron: "\e914";
$asa-tin: "\e915";
$asa-pewter: "\e916";
$asa-steel: "\e917";

